
<body>

  <%- include('header_view.ejs'); %>
  <% for(let k of data){%>
      <h1><%= k.name%></h1>
  <% for(let s of k.image){%>
    <% if(k.name=='Android App Development'){%>
    <img style="height: 420px; width: 260px;" src="<%= s %>"></img>
    <%continue;%>
    <%}%>
    <img src="<%= s %>"></img>
  <%}%>
  <%}%>
  <%- include('footer_view.ejs'); %>  
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

